<a href="https://colab.research.google.com/github/yakbu002/Data-Science-Portfolio-Projects/blob/master/PDF_Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# the library that I used to scrape the tabular data from pdf file. 
!pip install tabula-py

In [2]:
# imports
import tabula
import pandas as pd
import numpy as np

In [4]:
# I could not run this code on my own pc, but it run ok in google colab environment. 
# On my own pc I had error and had to run the document with very small chunks. 

# After getting familiar with the data I detected that relevant pages are in range 77 to 1270.
# also for the area i did not want to get all the page, 
# the parameter 730 enables us to not get the end note part of each page.  

df = tabula.read_pdf('SignatureCareProviderDirectory.pdf', area=(0,0,730,1000), pages=[x for x in range(78,1271)])

In [30]:
#the lenght of the list that contains every page as an object. 
# yes this list holds every page as an object. 
# and it is 1193 page long.
print(type(df))
print(type(df[0]))
print(len(df))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>
1193

In [7]:
# first page of the table. 
df[0].head()

                Unnamed: 0  ...      Unnamed: 3
0           Name Specialty  ...           Phone
1                 Illinois  ...             NaN
2      Bisby, Donald C POD  ...             NaN
3  Wabash General Hospital  ...  (618) 445-8170
4   Cheesman, Michael P PA  ...             NaN

[5 rows x 5 columns]

In [8]:
# second page of the table
df[1].head()

                        Name Specialty  Unnamed: 0  ... County           Phone
0                   Doshi, Simit M NEP         NaN  ...    NaN             NaN
1  University Medical Diagnostic Assoc         NaN  ...   Cook  (800) 741-4250
2                Gardner, Thomas A URO         NaN  ...    NaN             NaN
3        University Urologists PC Inc.         NaN  ...   Cook  (317) 962-4777
4                 Makar, Melissa S NEP         NaN  ...    NaN             NaN

[5 rows x 8 columns]

In [9]:
# last page of the 
df[-1].head()

                                    Name Specialty  ...  County           Phone
0                          Young, Nicole        PA  ...     NaN             NaN
1    Midwest Community Health Associates       NaN  ...  Fulton  (419) 335-0215
2                     Zimmerman, James A       FMP  ...     NaN             NaN
3    Midwest Community Health Associates       NaN  ...  Fulton  (419) 335-0215
4  » Midwest Community Health Associates       NaN  ...  Fulton  (419) 335-7921

[5 rows x 8 columns]

In [10]:
# some scratch code here
#[x for x in df[2].columns] == [x for x in df[1000].columns]

In [11]:
# because of how tabula library works, it messes up some of the columns 
# so that complicates everything. I cannot do one solution to fit all
# instead I have to determine how many different cases are out there. 
# I need to see how many of the columns are messes up the same way. 
# I need to count them. 

# here i will detect which items of the list are not same as the rest of the pages. 

cols={}
for i in range(len(df)):
  #if not [x for x in df[1].columns] == [x for x in df[i].columns]:
  cols[i] = ''.join(df[i].columns)

In [12]:
# i had this unhasable error, because i used lists in the rows. 
# to overcome that I found another way of reaching the goal. 
columns.value_counts()

NameError: ignored

In [13]:
# this works to concatenate the column names. 
''.join(cols[1])

'Name SpecialtyUnnamed: 0AddressCityStateZipCountyPhone'

In [14]:
# all the columns and how many times they appear on the dfs.
allcols = pd.Series(cols).value_counts()
allcols

Name SpecialtyUnnamed: 0AddressCityStateZipCountyPhone                                   519
Unnamed: 0Name SpecialtyUnnamed: 1AddressCityStateZipCountyPhone                         349
Unnamed: 0NameSpecialtyAddressCityStateZipCountyPhone                                    123
NameSpecialtyAddressCityStateZipCountyPhone                                               92
Name SpecialtyUnnamed: 0Address CityUnnamed: 1StateZipCountyPhone                         46
Unnamed: 0Unnamed: 1Name SpecialtyUnnamed: 2AddressCityStateZipCountyPhone                27
Unnamed: 0Name SpecialtyUnnamed: 1Address CityUnnamed: 2StateZipCountyPhone               20
Unnamed: 0Unnamed: 1NameSpecialtyAddressCityStateZipCountyPhone                            7
Unnamed: 0Name SpecialtyAddressUnnamed: 1CityStateZipCountyPhone                           3
Unnamed: 0NameSpecialtyAddress CityUnnamed: 1StateZipCountyPhone                           2
Name SpecialtyAddressCityUnnamed: 0StateZipCountyPhone                                     1
Unnamed: 0Unnamed: 1Unnamed: 2Participating Physicians List by StateUnnamed: 3             1
Unnamed: 0Unnamed: 1Name SpecialtyUnnamed: 2Address CityUnnamed: 3StateZipCountyPhone      1
Unnamed: 0Name SpecialtyAddressCityUnnamed: 1StateZipCountyPhone                           1
Unnamed: 0NameSpecialty AddressUnnamed: 1CityStateZipCountyPhone                           1
dtype: int64

In [26]:
# this part holds the locations of the 519 dfs on the above table. 
cols1Index=[]
for i in range(len(df)):
  if ''.join(df[i].columns) == allcols.index[0]:
    cols1Index.append(i)

In [28]:
print(cols1Index)

[1, 2, 3, 4, 6, 7, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 26, 28, 29, 31, 33, 34, 56, 57, 58, 60, 62, 65, 66, 67, 77, 78, 80, 81, 83, 86, 94, 98, 100, 113, 120, 128, 131, 133, 138, 139, 140, 143, 149, 150, 152, 160, 174, 177, 178, 181, 195, 199, 207, 209, 210, 211, 213, 215, 220, 223, 225, 226, 227, 228, 229, 230, 246, 249, 253, 302, 353, 363, 364, 372, 383, 384, 386, 387, 389, 390, 392, 393, 394, 396, 397, 399, 400, 408, 410, 411, 412, 414, 415, 416, 419, 421, 422, 429, 431, 432, 433, 438, 439, 442, 443, 444, 446, 447, 448, 449, 450, 451, 454, 455, 457, 459, 462, 464, 466, 467, 469, 470, 471, 472, 473, 474, 476, 478, 479, 480, 482, 483, 484, 485, 486, 487, 488, 489, 493, 494, 496, 497, 498, 499, 500, 502, 505, 506, 507, 509, 510, 511, 512, 513, 514, 516, 517, 518, 519, 520, 521, 522, 523, 528, 529, 530, 531, 532, 535, 537, 539, 540, 541, 542, 543, 544, 545, 547, 548, 549, 551, 553, 555, 556, 557, 558, 559, 560, 561, 562, 564, 565, 567, 568, 569, 570, 571, 572, 573, 574, 576, 577, 578, 580, 582, 583, 584, 586, 587, 589, 590, 591, 592, 593, 594, 595, 597, 599, 600, 601, 602, 605, 607, 608, 610, 611, 612, 613, 614, 615, 616, 618, 619, 621, 622, 624, 627, 631, 647, 657, 658, 659, 668, 669, 670, 671, 672, 673, 680, 687, 737, 742, 751, 752, 754, 757, 762, 766, 770, 772, 776, 780, 782, 783, 784, 785, 787, 790, 792, 794, 795, 796, 797, 798, 799, 801, 802, 803, 804, 805, 806, 812, 814, 816, 818, 821, 822, 824, 830, 838, 840, 844, 852, 853, 857, 862, 863, 873, 874, 883, 884, 885, 886, 887, 894, 896, 898, 900, 913, 915, 916, 917, 919, 926, 944, 945, 946, 952, 953, 955, 958, 961, 962, 967, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1136, 1137, 1143, 1144, 1145, 1152, 1153, 1158, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1168, 1169, 1170, 1172, 1175, 1180, 1181, 1182, 1189]

In [20]:
abc = df[1]

In [21]:
# Extracting Specialty from Name 
name = abc[abc['Address'].isna()]
specialty = []
for i in range(len(name)):
  specialty.append(name['Name Specialty'].values[i].split()[-1])
name['Specialty'] = specialty

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
name['Name Specialty'].values[i].split()[0:-1]

['Wepsic,', 'Richard', 'A']

In [24]:
# abort this cell 
# first name column
name['First Name'] = name['Name Specialty'].str.split(',', 1, expand=True)[0]
#[1].str.split(' ', expand=True)
name.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             Name Specialty  Unnamed: 0 Address  ... Phone Specialty  First Name
0        Doshi, Simit M NEP         NaN     NaN  ...   NaN       NEP       Doshi
2     Gardner, Thomas A URO         NaN     NaN  ...   NaN       URO     Gardner
4      Makar, Melissa S NEP         NaN     NaN  ...   NaN       NEP       Makar
6   Taylor, Elizabeth A NPR         NaN     NaN  ...   NaN       NPR      Taylor
8  Coleman Jr, David A PSYD         NaN     NaN  ...   NaN      PSYD  Coleman Jr

[5 rows x 10 columns]

In [179]:
# Last Name Column
name[['index','Last Name', 'Middle Name Initial', 'Specialty']] = name['Name Specialty'].str.split(',', 1, expand=True)[1].str.split(' ', expand=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [185]:
name = name[['First Name', 'Last Name', 'Middle Name Initial', 'Specialty']]

In [190]:
rest = abc[~abc['Address'].isna()]

In [204]:
rest.head()

                        Name Specialty  Unnamed: 0  ...     County           Phone
1  University Medical Diagnostic Assoc         NaN  ...       Cook  (800) 741-4250
3        University Urologists PC Inc.         NaN  ...       Cook  (317) 962-4777
5  University Medical Diagnostic Assoc         NaN  ...       Cook  (800) 741-4250
7  University Medical Diagnostic Assoc         NaN  ...       Cook  (800) 741-4250
9                    David Coleman PhD         NaN  ...  Vermilion  (217) 474-1305

[5 rows x 8 columns]

In [29]:
foo = name.head(5)

In [ ]:
for i in rest.index:
  print(i)

In [214]:
foo['First Name'][12] = 'hur'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
foo.iloc[]

In [222]:
rest[['First Name', 'Last Name', 'Middle Name Initial', 'Specialty']] = name
#name

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
rest

## Appending dfs with the same columns.

In [12]:
for i in range(2, len(df)):
    df[1] = df[1].append(df[i])

In [254]:
df1 = pd.DataFrame()
df1

Empty DataFrame
Columns: []
Index: []

In [237]:
allcols.index[0]

'Name SpecialtyUnnamed: 0AddressCityStateZipCountyPhone'

In [32]:
df1 =pd.DataFrame()
for i in range(len(df)):
  if ''.join(df[i].columns) == 'Name SpecialtyUnnamed: 0AddressCityStateZipCountyPhone':
    df1 = df1.append(df[i])

In [262]:
# df1.reset_index(drop=True, inplace=True)
# print([x for x in df1.index])
location_etal =  df1[~df1['Address'].isna()]
name_etal = df1[df1['Address'].isna()]

name_etal = name_etal[['Name Specialty']]

In [263]:
name_etal.head(10)

              Name Specialty
0         Doshi, Simit M NEP
2      Gardner, Thomas A URO
4       Makar, Melissa S NEP
6    Taylor, Elizabeth A NPR
8   Coleman Jr, David A PSYD
10      Moore, Edward N CARD
13     Banuru, Sridhar  CARD
16       Bisby, Donald C POD
18    Cheesman, Michael P PA
20     Jairath, Umesh C CARD

In [ ]:
location_etal.head(10)

In [64]:
name_etal.loc[1] = name_etal.loc[0]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
name_etal.sort_index()

In [ ]:
name_etal.head()

In [99]:
for i in name_etal.index:
  if i < 15:
    name_etal.loc[i]

In [ ]:
name_etal

In [ ]:
[x for x in name_etal.index]

In [160]:
# we will use this
name_etal.loc[1,:] = name_etal.loc[29541,:]

In [ ]:
name_etal

In [194]:
indexOrder[-1]

(12481, 14)

Here we create a row duplicator function.

In [255]:
# this function helps to fill doctor names for the multiple locations.
# as an input it should take only 
def row_duplicator(df):
  indexOrder = list(enumerate(df.index))
  for i,j in indexOrder[:-1]:
    if (indexOrder[i+1][1] > (indexOrder[i][1] +2)):
      diff = indexOrder[i+1][1] - indexOrder[i][1]  -2
      while diff > 0:
        df.loc[j+diff,:] = df.loc[j,:]
        diff = diff - 1
  df = df.sort_index()
  return df

In [ ]:
#name_etal1 = row_duplicator(name_etal)
name_etal1.head(20)

In [ ]:
name_etal1.tail(20)

In [269]:
len(name_etal)

12480

In [270]:
len(name_etal1)

17316

In [282]:
len(location_etal)

17062

In [283]:
#these are the hospitals without Phsycian
mask = ~name_etal1['Name Specialty'].str.split(',', expand=True)[2].isna()
name_etal1['Name Specialty'].str.split(',', expand=True)[2][mask]

310        FMP
1352       ORT
1410       SUR
1467       GER
1501      CARD
         ...
18609       PM
28254      GAS
28969      CTS
28970      CTS
29210      GAS
Name: 2, Length: 106, dtype: object

Here we look for State Names to remove from the data frame.

In [285]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [325]:
name_etal[name_etal['Name Specialty'].isin(states.values())]

      Name Specialty
244          Indiana
18824       Kentucky
18887          Maine
18892       Michigan
27473        Indiana
27478       Michigan
28151      Minnesota
28156           Ohio

In [312]:
dup = name_etal.duplicated()

In [313]:
name_etal[dup]

               Name Specialty
34       Moore, Edward N CARD
57     Wepsic, Richard A CARD
66        Bisby, Donald C POD
68     Cheesman, Michael P PA
85        Bisby, Donald C POD
...                       ...
29527                      PT
29529                      PT
29531        Ali, Syed S CARD
29535    Alo, Mohammed S CARD
29538        Alo, Sinan  CARD

[5273 rows x 1 columns]

In [330]:
specialties: {  
'PLS': 'Plastic Surgery',
'PM': 'Pain Management',
'PMR': 'Physical & Medical Rehab',
'PNM': 'Perinatal Medicine',
'POD': 'Podiatry',
'PODS': 'Podiatry Surgery',
'PREVENT': 'Preventative Medicine',
'PRO': 'Proctology',
'PROSTH': 'Prosthodontist',
'PSY': 'Psychiatry',
'PSYCA': 'Psychology/Child And Adolescent',
'PSYD': 'Psychology',
'PT': 'Physical Therapy',
'PTH': 'Pathology',
'PUD': 'Pulmonary Disease',
'PULCC': 'Pulmonary & Critical Care Medicine',
'PVS': 'Peripheral Vascular Surgery',
'RAD': 'Radiology',
'RADINT': 'Radiology-Interventional',
'RADVAS': 'Radiology-Vascular',
'RD': 'Registered Dietitian',
'REND': 'Reproductive Endocrinology',
'RHU': 'Rheumatology',
'RN': 'Registerd Nurse',
'RON': 'Radiation Oncology',
'SGONC': 'Surgical Oncology',
'SLP': 'Sleep Disorders',
'SPCH': 'Speech Pathologist',
'SPM': 'Sports Medicine',
'SUR': 'Surgery',
'SW': 'Social Worker',
'THORS': 'Thoracic Surgery',
'TRANS': 'Transplant Surgery',
'TRS': 'Trauma Surgery',
'URGYN': 'Urogynecology',
'URO': 'Urology',
'VASRG': 'Vascular Surgery',
'WCH': 'Wound Care Hyperbaric Medicine',
'ADD': 'Addictionology',
'ADVHEART' : 'Advanced Heart Failure and Transplant Cardiology',
'AERO': 'Aerospace Medicine',
'ALG': 'Allergy and Immunology',
'ANS': 'Anesthesiology',
'AUD': 'Audiology',
'BCBA': 'ABA Therapy',
'CAA': 'Certified Anesthesiologist Assistant',
'CARD': 'Cardiovascular Disease',
'CCM': 'Critical Care Medicine',
'CHI': 'Chiropractics',
'CNS': 'Clinical Nurse Specialist',
'CPHAR': 'Clinical Pharmacology',
'CPSY': 'Child & Adolescent Psychiatry',
'CRNA': 'Nurse Anesthetist',
'CRS': 'Colon Rectal Surgery',
'CTS': 'Cardiovascular Surgery',
'DDS': 'Dentistry',
'DER': 'Dermatology',
'DERP': 'Dermatopathology',
'ELP': 'Electrophysiologist',
'EMDR': 'Eye Movement Desensitization and Reprocessing',
'EMR': 'Emergency Medicine',
'END': 'Endocrinology',
'ENT': 'Otolaryngology',
'FMP': 'Family Medicine',
'FMPR': 'Family Medicine Residents',
'GAS': 'Gastroenterology',
'GEN': 'Genetics',
'GENCOUN': 'Genetic Counselor',
'GEP': 'General Practice',
'GER': 'Geriatrics',
'GES': 'General Surgery',
'GYN': 'Gynecology',
'GYONC': 'Gynecologic Oncology',
'HAND': 'Surgery -hand',
'HEAR': 'Hearing Clinic',
'HEM': 'Hematology',
'HOSPICE': 'Hospice and Palliative Care',
'HOST': 'Hospitalist',
'IFD': 'Infectious Disease',
'IMM': 'Immunology',
'INM': 'Internal Medicine',
'INTMED': 'Integrative Medicine',
'LMFT': 'Marriage Family Therapist',
'LMHC': 'Mental Health Counselor',
'LPCC': 'Licensed Professional Clinical Counselor',
'MFM': 'Maternal Fetal Medicine',
'MIDW': 'Nurse Midwife',
'NEP': 'Nephrology',
'NER': 'Neurology',
'NEUPH': 'Neurophysiology',
'NEUPS': 'Neuropsychologist',
'NEUROD': 'Neurodevelopmental Disabilities',
'NPM': 'Neonatology',
'NPR': 'Nurse Practitioner',
'NRS': 'Neurosurgery',
'NUCLR': 'Nuclear Medicine',
'OBG': 'Ob/Gyn',
'OBS': 'Obstetrics',
'OCM': 'Occupational Medicine',
'OCTHR': 'Occupational Therapy',
'ONCHE': 'Oncology & Hematology',
'OPH': 'Ophthalmology',
'OPS': 'Oro-facial Plastic Surgery',
'OPTRY': 'Optometry',
'ORALP': 'Oral Pathology',
'ORS': 'Orthopedic Surgery',
'ORSU': 'Oral Surgery',
'ORT': 'Orthopedics',
'OSTSG': 'Osteopathic Surgery',
'PA': 'Physician Assistant',
'PED': 'Pediatrics',
'PEDAL': 'Pediatric Allergy & Immunology',
'PEDAM': 'Pediatric Adolescent Medicine',
'PEDAN': 'Pediatric Anesthesiology',
'PEDCA': 'Pediatric Cardiology',
'PEDCC': 'Pediatric Critical Care Medicine',
'PEDCS': 'Pediatric Cardio-thoracic Surgery',
'PEDDB': 'Pediatrics Developmental-Behavioral',
'PEDEM': 'Pediatric Emergency Medicine',
'PEDEN': 'Pediatric Endocrinology',
'PEDGA': 'Pediatric Gastroenterology',
'PEDH': 'Pediatric Hospitalist',
'PEDHO': 'Pediatric Hematology/Oncology',
'PEDHS': 'Pediatric Hospice and Palliative Care',
'PEDIC': 'Pediatric Intensive Care',
'PEDIF': 'Pediatric Infectious Disease',
'PEDIN': 'Pediatrics Internal Medicine',
'PEDMT': 'Pediatric Medical Toxocology',
'PEDNE': 'Pediatric Neurology',
'PEDNP': 'Pediatric Neonatal-perinatal Medicine',
'PEDNS': 'Pediatric Neurological Surgery',
'PEDOP': 'Pediatric Ophthalmology',
'PEDOS': 'Pediatric Orthopaedic Surgery',
'PEDOT': 'Pediatric Otolaryngology',
'PEDPC': 'Pediatric Pulmonary & Critical',
'PEDPH': 'Pediatric Nephrology',
'PEDPM': 'Pediatric Physicial Medicine',
'PEDPU': 'Pediatric Pulmonology',
'PEDRA': 'Pediatric Radiology',
'PEDRH': 'Pediatric Rheumatology',
'PEDSU': 'Pediatric Surgery',
'PEDUR': 'Pediatric Urology',
'PELVIC': 'Female Pelvic Med/Reconstructive Surgery',
'PERA': 'Perinatology',
'PhD': 'Psychology'}

In [178]:
klm = name_etal[:10]

In [ ]:
klm['Name Specialty'].str.split(',', expand=True)[1].str.split(' ', expand=True)

In [ ]:
klm['Name Specialty'].str.split(',', expand=True)[0].str.split(' ', expand=True)

In [144]:
indexOrder[:20]

[(0, 0),
 (1, 2),
 (2, 4),
 (3, 6),
 (4, 8),
 (5, 10),
 (6, 13),
 (7, 16),
 (8, 18),
 (9, 20),
 (10, 22),
 (11, 24),
 (12, 27),
 (13, 29),
 (14, 32),
 (15, 34),
 (16, 37),
 (17, 40),
 (18, 43),
 (19, 46)]

In [122]:
list(enumerate(name_etal.index))[1][1]

2

In [149]:
df1.head(5)

                        Name Specialty  Unnamed: 0  ... County           Phone
0                   Doshi, Simit M NEP         NaN  ...    NaN             NaN
1  University Medical Diagnostic Assoc         NaN  ...   Cook  (800) 741-4250
2                Gardner, Thomas A URO         NaN  ...    NaN             NaN
3        University Urologists PC Inc.         NaN  ...   Cook  (317) 962-4777
4                 Makar, Melissa S NEP         NaN  ...    NaN             NaN

[5 rows x 8 columns]

In [129]:
indexOrder[4][1]

8

In [152]:
name_etal.head(10)

              Name Specialty
0         Doshi, Simit M NEP
2      Gardner, Thomas A URO
4       Makar, Melissa S NEP
6    Taylor, Elizabeth A NPR
8   Coleman Jr, David A PSYD
10      Moore, Edward N CARD
13     Banuru, Sridhar  CARD
16       Bisby, Donald C POD
18    Cheesman, Michael P PA
20     Jairath, Umesh C CARD

In [151]:
location_etal.head(20)

                                    Name Specialty  ...           Phone
1              University Medical Diagnostic Assoc  ...  (800) 741-4250
3                    University Urologists PC Inc.  ...  (317) 962-4777
5              University Medical Diagnostic Assoc  ...  (800) 741-4250
7              University Medical Diagnostic Assoc  ...  (800) 741-4250
9                                David Coleman PhD  ...  (217) 474-1305
11              » Ferrell Hospital Family Practice  ...  (618) 297-9665
12           Ferrell Hospital Community Foundation  ...  (618) 273-3361
14             Deaconess Specialty Physicians, Inc  ...  (812) 450-7899
15             Deaconess Specialty Physicians, Inc  ...  (812) 450-7899
17  Wabash Orthopaedic Surgery and Sports Medicine  ...  (618) 842-4180
19  Wabash Orthopaedic Surgery and Sports Medicine  ...  (618) 842-4180
21             Deaconess Specialty Physicians, Inc  ...  (812) 450-7899
23                         Wabash General Hospital  ...  (618) 707-4360
25             Deaconess Specialty Physicians, Inc  ...  (812) 450-7899
26             Deaconess Specialty Physicians, Inc  ...  (812) 450-7899
28                         Wabash General Hospital  ...  (618) 707-4360
30             Deaconess Specialty Physicians, Inc  ...  (812) 450-7899
31             Deaconess Specialty Physicians, Inc  ...  (812) 450-7899
33  Wabash Orthopaedic Surgery and Sports Medicine  ...  (618) 842-4180
35             Deaconess Specialty Physicians, Inc  ...  (812) 450-7899

[20 rows x 8 columns]

In [ ]:
for i in inds:
  df1 = df1.append(df[i])

In [ ]:
if ''.join(df[i].columns) == 'Name SpecialtyUnnamed: 0AddressCityStateZipCountyPhone':
    cols1[i] = ''.join(df[i].columns)

In [133]:
df[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name Specialty  57 non-null     object
 1   Unnamed: 0      0 non-null      float64
 2   Address         33 non-null     object
 3   City            33 non-null     object
 4   State           33 non-null     object
 5   Zip             33 non-null     float64
 6   County          33 non-null     object
 7   Phone           33 non-null     object
dtypes: float64(2), object(6)
memory usage: 3.7+ KB

In [39]:
bonus_features = {"Age Restricted": "†", 
                  "Not Accepting New Patients": "*", 
                  "Does not provide inpatient coverage at Parkview Hospital": "Ø",
                  "Primary Location": "»"}

# This part is scratch codes

In [50]:
df_zero = df[0]

In [ ]:
for column, row in dfx.iterrows():
  print(row.values)

In [95]:
abc = ['» Midwest Community Health Associates', '725 S Shoop Ave' 'Wauseon', 'OH', 43567.0, 'Fulton', '(419) 335-0215']

In [98]:
abc[0].contains('»')

AttributeError: ignored

In [106]:
dfx.loc[0].values

array(['Doshi, Simit M NEP', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan], dtype=object)

In [122]:
print(len(dfx.iloc[0,:]))
for i in range(20):
  for j in range(len(dfx.iloc[0,:])):
    if dfx.iloc[i,:].values[j].str.find('i'):
      print(True)

19

AttributeError: ignored

In [126]:
dfx.iloc[i,:].values.join()

AttributeError: ignored

In [129]:
dfx.columns

Index(['Name Specialty', 'Unnamed: 0', 'Address', 'City', 'State', 'Zip',
       'County', 'Phone', 'Name', 'Specialty', 'Unnamed: 1', 'Unnamed: 2',
       'Address City', 'Specialty Address', 'Unnamed: 3', 'Age Restricted',
       'Not Accepting New Patients',
       'Does not provide inpatient coverage at Parkview Hospital',
       'Primary Location'],
      dtype='object')

In [131]:
s1dfx =dfx[['Name Specialty', 'Unnamed: 0', 
        'Name', 'Specialty', 'Unnamed: 1', 'Unnamed: 2',
        'Unnamed: 3' ]]

In [133]:
s1dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67814 entries, 0 to 67813
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name Specialty  55058 non-null  object
 1   Unnamed: 0      1494 non-null   object
 2   Name            11658 non-null  object
 3   Specialty       5698 non-null   object
 4   Unnamed: 1      88 non-null     object
 5   Unnamed: 2      0 non-null      float64
 6   Unnamed: 3      0 non-null      float64
dtypes: float64(2), object(5)
memory usage: 3.6+ MB

In [136]:
s1dfx['Specialty'].value_counts()

NPR           1279
FMP            602
CARD           363
PA             306
SW             225
              ...
PEDPC            1
LMHC, EMDR       1
PEDPM            1
PEDDB            1
ORS, HAND        1
Name: Specialty, Length: 118, dtype: int64

In [ ]:
dfx[dfx['Name Specialty'].str.contains('»') | dfx['Name Specialty'].isna()]

In [143]:
dfx['Name Specialty'].isna().sum()

12756

In [169]:
dfx['Name Specialty'].str.contains("/*").sum()

55058

In [152]:
bonus_features

{'Age Restricted': '†',
 'Does not provide inpatient coverage at Parkview Hospital': 'Ø',
 'Not Accepting New Patients': '*',
 'Primary Location': '»'}

In [1]:
len(dfx)

NameError: ignored